{% extends "base.html" %}

{% block subtitle %}{{ page.title }}{% endblock substitle %}
{% block nav_blog %}active{% endblock %}

{% block content %}
<section>
  <h1 class="title">
    {{ page.title }}
  </h1>
  <p class="subtitle"><strong>{{ page.date }}</strong><span class="left"> by {{page.authors | join(sep=", ")}}</span>
    {% if page.extra.page_history %}
        <span class="edithistory"><a href="{{ page.extra.page_history_url }}">[post history]</a></span>
    {% endif %}
  </p>
  <div class="section-frame{% if page.extra.page_justification %} justified{% endif %}">
    {{ page.content | safe }}
  </div>
</section>
{% endblock content %}
